<div class="container">
  <div class="wrapper session">

    <div class="header session">
      <h1>Create an account</h1>
    </div>
      
    <div class="session form"> 
      <%= form_for(@user, url: users_path) do |f| %>

        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Jane Doe" %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: false, autocomplete: "email", placeholder: "jdoe@email.com" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "p@s$w0rd" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign Up" %>
        </div>

      <% end %>
    </div>

<div>
  <%= link_to  "Log In Instead", new_session_path %>
</div>
