<div class="container">
  <div class="wrapper dashboard">
    <div class="header">
      <h1>Portfolio</h1>
      <div class="name"><%= @user.name %></div>
      <div class="email"><%= @user.email %></div>
      <div class="value">Valuation: <%= number_to_currency(@portfolio[:total_value]) %></div>
    </div>

    <%= render_user_portfolio_stocks(@portfolio) %>
      
      <div id="portfolio-stock-buy">
        <div class="stock-buy-header">
          <h2>Buy Stock</h2>
          <p>Cash - $<%= @user.balance %></p>
        </div>
        <div class="purchase-form">
          <%= form_tag('/transactions') do %>
            <div><%= text_field_tag 'ticker_symbol', nil, placeholder: "Stock Symbol" %></div>
            <div><%= text_field_tag 'shares_quantity', nil, placeholder: "Quantity" %></div>
            <div><%= submit_tag 'Buy' %></div>
          <% end %>
          <div><%= button_tag 'Sell', id: "sell-button" %></div>
        </div>
      </div>
  </div>
</div>